body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor, .contenedor-formulario {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px;
    box-sizing: border-box; 
    text-align: center;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.boton, button {
    background-color: #007bff;
    color: white;
    padding: 15px;
    margin-bottom: 15px; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
    display: block; 
    width: 100%; 
    
    box-sizing: border-box; 
    
    font-size: 16px;
    text-decoration: none;
    transition: background 0.3s ease;
}

button:hover, .boton:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    font-weight: bold;
}

.boton:last-child {
    margin-bottom: 0; /* Quitamos el margen al último botón */
}